%h2 Create a List Item

= form_for item do |f|
  = f.error_notification
  = f.input :text, label_text: 'Item', label_html: { class: 'sr-only' }, input_html: { placeholder: 'Enter item...' }
  = f.submit 'Add Item'

- if items.present?
  %table
    %tbody
      - items.each do |item|
        %tr
          %td= item.text
          %td
            %form(action="/items/#{item.id}" method="post")
              %input(type="hidden" name="_method" value="delete")
              %button.btn.btn-link(type="submit") delete
