!!!
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %title Todo
    != stylesheet_tag 'app'
    != javascript_tag '//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min'
    != javascript_tag 'app'
  
  %body.container
    %header(role="banner")
      %h1 Todo
    
    %main(role="main")
      %h2 Create a List Item
      
      %form(action="/items" method="post")
        - if item.errors.present?
          .errors
            %h3 "#{pluralize(item.errors.size, "errors")} prohibited this item from being saved:"
            %ul
              - item.errors.each do |attr, error|
                %li= "#{attr.to_s.humanize} #{t "errors.#{error}"}"
        
        .form-group
          %label.sr-only(for="item-text") Item
          %input.form-control#item-text(type="text" name="item[text]" placeholder="Enter item..." aria-required="true" required){ value: item.text || "" }
        
        %button.btn.btn-primary(type="submit") Add Item
      
      - if items.present?
        %ol
          - items.each do |item|
            %li= item.text
